body {
  font-family: Arial;
  padding: 20px;
}

.box {
  margin-bottom: 20px;
}

input, select {
  display: block;
  margin-bottom: 10px;
  padding: 6px;
  width: 320px;
}

button {
  padding: 6px 14px;
}

li {
  margin-bottom: 6px;
}